<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Divulga Tudo</title>

<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="styles.css">

<!--NavBar-->

<nav style="background-color: #B77A51; height: 80px;">
 <a class="navbar-brand" href="#">
<nav style="background-color: #B77A51; height: 80px;">
	<ul class="nav justify-content-center">
	<a th:href="@{/home}"> <img src="post_it_DivulgaTudo.png" width="100" height="80" class="d-inline-block align-top" alt="" ></a>
		<li class="nav-item"><a class="nav-link text-white" th:href="@{/home}">HOME</a></li>
		<li class="nav-item"><a class="nav-link text-white" th:href="@{/}">ANÚNCIOS</a></li>
	</ul>
</nav>

<!--NavBar-->

</head>
<br/>

<body style="background-color: #F9EEE8;">


	
<div class="container">
  <div class="row">
    <div class="col">
     <div class="jumbotron" style="padding-top:120px;">
		<h1 class="display-4">DIVULGA TUDO</h1>
		
		<p style="font-size:40px;" class="lead">Uma forma simples de analisar e gerenciar Projeções de Anúncios!</p>
		<hr />
		<br/>
		<br/>
	</div>
    </div>
    <div class="col">
     <img style="padding-left:75px; padding-top:50px;" src="DivulgaTudo.png"  width="550" height="400" class="d-inline-block align-top" alt="" >
    </div>
    
  </div>
  <br/><br/>
  	<p style="font-size:25px;">Esta aplicação consiste em exibir projeções de cliques, compartilhamentos e visualizações de anúncios cadastrados, com base no valor investido.</p>
			<br/>
		
		<div>
		      <a style="background-color: #B77A51;" class="text-white btn btn-info col-2" th:href="@{/}">ACESSAR PAINEL</a>
		</div>

</div>


</body>
<br/><br/><br/>

<footer class=" text-center text-white" style"padding-top:700px;">
	
	<div class="text-center p-3"
		style="background-color: #B77A51; height: 120px;">
		© 2021 Copyright <a class="text-white"
			href="https://eun6g.csb.app/" target="_blank"><br/><br/>www.divulgatudo.com.br</a>	
	</div>
	<!-- Copyright -->
</footer>

</html>