<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Anúncios Cadastrados</title>

<!--CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/styles.css">

<!--NavBar-->

<nav style="background-color: #B77A51; height: 80px;">
 <a class="navbar-brand" href="#">
<nav style="background-color: #B77A51; height: 80px;">
	<ul class="nav justify-content-center">
	<a th:href="@{/home}"> <img src="post_it_DivulgaTudo.png" width="100" height="80" class="d-inline-block align-top" alt="" ></a>
		<li class="nav-item"><a class="nav-link text-white" th:href="@{/home}">HOME</a></li>
		<li class="nav-item"><a class="nav-link text-white" th:href="@{/}">ANÚNCIOS</a></li>
	</ul>
</nav>

<!--NavBar-->

</head>

<!--head-->

<!--body-->

<body style="background-color: #F9EEE8;">
<br />
		<br />
    <div class="container"><!---->
    
    <div class="d-grid gap-2 col-2 mx-auto">
    <br /> 
    <br />
			<a style="background-color: #75BD43;" href="new" class="btn btn-sm mb-3 text-white">Cadastre um novo Anúncio</a> 
			<br/> 
		
		</div>



		<div>&nbsp;</div>
		<h1 class="text-black text-center">Anúncios Cadastrados</h1>
		<div class=" d-grid gap-2 d-md-flex justify-content-md-end">
		
			<form th:action="@{/}">
				<input type="text" placeholder="Insira o nome do cliente" name="filtro" th:value="${filtro}" required /> 
				&nbsp;
				<button type="submit" style="background-color: #75BD43;" class="btn btn-primary btn-sm">Filtrar</button>
				&nbsp;
				<button type="button" style="background-color: #D8AA93;" class="btn btn-primary btn-sm" onclick="clearFilter()">Limpar</button>
		</form>
		
		</div>
		 
		
			
	</div>
	
	
	<div class="container my-2"><!-- -->

		<!--table-->

		<table border="1" class="table table-striped table-responsive-md table-sm table-bordered">
			<thead>
				<tr>
					<th> Código</th>
					<th>Nome</th>
					<th>Cliente</th>
					<th>Início</th>
					<th>Término</th>
					<th>Investimento Diário</th>
					<th>Qtd Max Visualizações </th>
					<th>Qtd Max Cliques </th>
					<th>Qtd Max Compartilhamentos  </th>
					<th>Valor Total Investido  </th>
					
					<th>Ações</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="anuncio : ${listAnuncios}">
					<td th:text="${anuncio.id_Anuncio}"></td>
					<td th:text="${anuncio.nome_Anuncio}"></td>
					<td th:text="${anuncio.cliente}"></td>
					<td th:text="${#dates.format(anuncio.data_Inicio, 'dd/MM/yyyy')}"></td>
					<td th:text="${#dates.format(anuncio.data_Termino, 'dd/MM/yyyy')}"></td>
					<td><span th:if="${anuncio.investimento_Dia} != null" th:text="${ #numbers.formatDecimal(anuncio.investimento_Dia,3,'POINT',2,'COMMA')}"></span></td>
					<td th:text="${anuncio.projecao.qtdMaximaVisualizacoes}"> </td>
					<td th:text="${anuncio.projecao.qtdMaximaCliques}"> </td>
					<td th:text="${anuncio.projecao.qtdMaximaCompartilhamentos}"> </td>
					<td th:text="${anuncio.projecao.valorTotalInvestido}"> </td>

					<td><a th:href="@{'/edit/' + ${anuncio.id_Anuncio}}" style="background-color: #B77A51;" class="text-white btn btn-info col-8 btn-sm">Editar</a> &nbsp;&nbsp;&nbsp;&nbsp; <a
						   th:href="@{'/delete/' + ${anuncio.id_Anuncio}}" style="background-color: #E0A379;" class="text-white btn btn-info col-8 btn-sm">Deletar</a></td>
				</tr>
			</tbody>
		</table>

		<!--table-->

	</div>
	<script type="text/javascript">
		function clearFilter() {
			window.location = '/';
		}
	</script>
<br/><br/>
</body>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<!--body-->
<!--footer-->

<footer class="bg-dark text-center text-white">
	
	<div class="text-center p-3"
		style="background-color: #B77A51; height: 120px;">
		© 2021 Copyright <a class="text-white"
			href="https://eun6g.csb.app/" target="_blank"><br/><br/>www.divulgatudo.com.br</a>	
	</div>
	<!-- Copyright -->
</footer>

</html>