<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Cadastrar Anúncios</title>

<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="styles.css">

<!--NavBar-->

<nav style="background-color: #B77A51; height: 80px;">
 <a class="navbar-brand" href="#">
<nav style="background-color: #B77A51; height: 80px;">
	<ul class="nav justify-content-center">
	<a th:href="@{/home}"> <img src="post_it_DivulgaTudo.png" width="100" height="80" class="d-inline-block align-top" alt="" ></a>
		<li class="nav-item"><a class="nav-link text-white" th:href="@{/home}">HOME</a></li>
		<li class="nav-item"><a class="nav-link text-white" th:href="@{/}">ANÚNCIOS</a></li>
	</ul>
</nav>

<!--NavBar-->

</head>
<br/>
<body style="background-color: #F9EEE8;">
	<div class="container">
		<div class="row">

			<div class="col-6">
				<h1>Cadastre um novo Anúncio</h1>
				<hr>
				<br />
				<form th:action="@{/save}" th:object="${anuncioDTO}"
					method="post">
					<div class="form-group">
						<label for="nomeAnuncio"></label>
						<input id="nomeAnuncio" type="text" th:field="*{nome_Anuncio}" placeholder="Nome do Anúncio"
							class="form-control mb-4" th:errorClass="is-invalid">
						<div class="invalid-feedback" th:errors="*{nome_Anuncio}"></div>
					</div>

					<div class="form-group">
						<input type="text" th:field="*{cliente}"placeholder="Cliente" 
						    class="form-control mb-4" th:errorClass="is-invalid">
							<div class="invalid-feedback" th:errors="*{cliente}"></div>
					</div>
					<div class="form-group">
						<input type="date" th:field="*{data_Inicio}" placeholder="Data de Início"
							class="form-control mb-4" th:errorClass="is-invalid">
							<div class="invalid-feedback" th:errors="*{data_Inicio}"></div>
					</div>
					<div class="form-group">
						<input type="date" th:field="*{Data_Termino}" placeholder="Data de Término"
							class="form-control mb-4" th:errorClass="is-invalid">
							<div class="invalid-feedback" th:errors="*{Data_Termino}"></div>
					</div>
					
					<div class="form-group">
						<input type="number" th:field="*{investimento_Dia}" placeholder="Valor diário"
							class="form-control mb-4" th:errorClass="is-invalid"  onkeypress="return somenteNumeros(event)">
							<div class="invalid-feedback" th:errors="*{investimento_Dia}"></div>
					</div>

					<div>
						<button type="submit" style="background-color: #B77A51;" class="text-white btn btn-info col-2">Salvar</button>
					</div>
				</form>

				<hr>
				<a th:href="@{/}">Volte para lista de Anúncios</a>

			</div>
		</div>
	</div>

	</body>
<br/>
<br/>
<br/>
<br/>
<br/>
	
	<footer class="bg-dark text-center text-white">
	
	<div class="text-center p-3"
		style="background-color: #B77A51; height: 120px;">
		© 2021 Copyright <a class="text-white"
			href="https://eun6g.csb.app/" target="_blank"><br/><br/>www.divulgatudo.com.br</a>	
	</div>
	<!-- Copyright -->
</footer>

</html>